---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import MainIMG from '../assets/MainIMG.jpg';
import { Image } from 'astro:assets';
---

<Layout title="Hra na pikanou">
  <h1>Hra na pikanou</h1>
  <p>
    Hra na pikanou je úžasná hra vyžadující strategické plánování, odhodlání,
    rychlost a trpělivost.
  </p>
  <p>
    I když neoplýváš všemi těmito vlastnosti, myslím že tě stejně bude bavit.
  </p>
  <Image src={MainIMG} alt="Cat hiding" />
</Layout>
