---
import Layout from '../layouts/Layout.astro';
import Pravidla_pro_hrace from '../components/pravidla/Pravidla_pro_hrace.astro'
import Pravidla_pro_poradatele from '../components/pravidla/Pravidla_pro_poradatele.astro'
---

<Layout title="Pravidla">
  <nav>
    <button>Pro pořadatele</button>
    <button>Pro hráče</button>
  </nav>
  <Pravidla_pro_hrace/>
  <Pravidla_pro_poradatele/>
</Layout>
