---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="cs">
  <head>
    <BaseHead title={title} />
  </head>

  <body>
    <Header />
    <main transition:animate="slide">
      <slot />
    </main>
    <Footer />
  </body>
</html>
