
<h2>PRAVIDLA PRO HRÁČE</h2>
<h3>Hledač</h3>
<section>
  <section>
    <li>Hledač je určen před <a href=/blog/zacatek_hry>začátkem hry</a></li>
    <li>Nemá právo <a href="">prozkoumat terén</a></li>
    <li>Nesmí odposlouchávat, ani nijak zjišťovat strategie schovávaných</li>
    <h4>Začátek hry</h4>
    <li>Rozhodčí zaváže hledači oči</li>
    <li>
      Po <a href=/blog/zacatek_hry>zahájení hry</a> se hledač dotýká <a href=/blog/pikola
        >hlavní pikoly</a
      >
      a čeká na <a href="zvukove_signaly">zvukový signál</a> začátku hlavní části hry
    </li>
  </section>
  <h4>Hlavní část hry</h4>
  <section>
    <li>Po zaznění signálu si hledač sundá masku a začne s hledáním</li>
    <li>
      Musí si dávat pozor na <a href="/blog/pikola">pole pikoly</a>, které se každých 30
      sekund zvětšuje
    </li>
    <li>
      Pokud hledač zahlédne někoho ze <a href="">schovávaných</a>, musí říct
      jeho jméno a běží k <a href="/blog/pikola">jakékoli pikole</a>, kde hráče <a href=""
        >zapiká</a
      >
    </li>
    <li>
      Poté se musí z pole pikoly rychle dostat (do 10 sekund), pokud neuvidí
      dalšího schovávaného
    </li>
    <li>
      Jakékoli spory o zapikání nebo uvidění schovaného řeší <a href="/blog/rozhodci"
        >rozhodčí</a
      > (většinou po konci hry)
    </li>
  </section>
  <h4 style="display: inline">Bodování</h4>
  <span> (viz <a href="/blog/bodovani">Bodování</a>)</span>
  <section>
    <li>Za zapikání hráče získá hledač <code>30 bodů</code></li>
    <li>Pokud byl hledač zapikaný, ztrácí <code>5 bodů</code></li>
  </section>
  <h4 style="display: inline">Konec hry</h4>
  <span> (viz <a href="">Konec hry</a>)</span>
  <section>
    <li><i>pozn. za zbylé schované hráče se hledačovi body neubírají</i></li>
  </section>
</section>
<h3>Schovávaný</h3>
<section>
  <section>
    <li>Schovaní jsou určeni před <a href="/blog/zacatek_hry">začátkem hry</a></li>
    <li>Mají právo <a href="">prozkoumat terén</a></li>
    <li>Nesmí odposlouchávat, ani nijak zjišťovat strategie hledače</li>
    <li>Nesmí nosit nic, co by zakrývalo jejich obličej</li>
    <li>Nesmí dělat hromadné nálety</li>
    <li>Mohou nosit maskovací oblečení</li>
  </section>
  <h4>Začátek hry</h4>
  <li>Všichni schovaní musí být blízko <a href="/blog/pikola">pikoly</a> (max. 3 metry)</li>
  <li>
    Po zaznění <a href="/blog/zvukove_signaly">zvukového signálu</a> do zaznění druhého zvukového signálu
    schovaní musí rychle odejít minimálně 10 metrů od pikoly (prevence sabotáže)
  </li>
  <h4>Hlavní část hry</h4>
  <section>
    <li>Schovaní se kdykoli mohou přesouvat ze svých úkrytů</li>
    <li>
      Schovaní <b>nesmí</b> být mimo <a href="">hrací oblast</a>
    </li>
    <li>
      Schovaný kdykoli může vstoupit do pole pikoly a zapikat na jakékoli pikole
      hledače
    </li>
  </section>
  <h4 style="display: inline">Bodování</h4>
  <span> (viz <a href="">Bodování</a>)</span>
  <section>
    <li>
      Za zapikání hledače na hlavní pikole získá schovaný <code>50 bodů</code> +
      <code>[počet zbývajících minut] × 2 bodů</code>
    </li>
    <li>
      Za zapikání hráče na vedlejší pikole získá schovaný počet<code>
        <a href="">bodů, stanovených před hrou</a> (20 - 40)</code
      > +
      <code>[počet zbývajících minut] × 2 bodů</code>
    </li>
    <li>
      Pokud byl schovaný zapikán, dostane
      <code>[počet uplynulých minut] × 2 bodů</code>
    </li>
    <li>
      Pokud schovaný nebyl zapikán, ani nezapikal hledače, získává <code
        >20 bodů</code
      >
    </li>
  </section>
</section>
