<h2>PRAVIDLA PRO POŘADATELE</h2>
<h3>Místo konání hry</h3>
<section>
  <li>Může být téměř kdekoli</li>
  <li>Je 15 - 700 m<sup>2</sup> velké</li>
  <li>Hrací plocha může být jakéhokoli tvaru</li>
  <li>Nesmí být na soukromých pozemcích bez svolení majitele</li>
</section>
